/* BASE STYLE */

a:hover {
    text-decoration: none;
}

h2 a, h2{
    color: #ffa221;
    font-weight: bold;
    font-family: "Broadway", sans-serif;
}

h1 a, h1{
    color: #eee;
    font-weight: bold;
    font-family: "Broadway", sans-serif;
}

h1 a:hover {
    text-decoration: none;
    color: #ddd;
}

h2 a:hover {
    text-decoration: none;
    color: #d88f29;
}

h4 {
    font-weight: bold;
    padding: 10px 0px 3px 0px;
}

.content {
    margin-left: 40px;
}

.date {
    color: #222;
    font-size: 13px;
}

.save {
    float: right;
}

.top-menu .top-menu:hover .top-menu-visited {
    color: #fff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.glyphicon-plus {
    color: #eee;
    font-size: 20pt;
    margin-top: 24px;
    float: right;
}

.glyphicon-plus:hover {
    color:#ddd;
}

.recipe {
    margin-bottom: 70px;
}

body {
    background-color: #eee;
}

.page-header {
    background-color: #ffa221;
    margin-top: 0;
    padding: 20px 20px 20px 50px;
}

/* INDEX STYLE */

#show-all-button {
    margin-bottom: 80px;
    color: black;
    font-size: 16px;
}

.glyphicon-arrow-right {
    color: #d88f29;
    padding: 3px;
    font-size: 20px;
}

/* DETAIL STYLE */

#edit-button {
    float: left;
    margin: 20px 5px 70px 0px;
}

.glyphicon-pencil {
    margin-left: 5px;
}


.glyphicon-remove {
    margin-left: 5px;
}
