/* BASE STYLE */

a:hover {
    text-decoration: none;
}

h2 a, h2{
    color: #ffa221;
    font-weight: bold;
    font-family: "Broadway", sans-serif;
}

h1 a, h1{
    color: #eee;
    font-weight: bold;
    font-family: "Broadway", sans-serif;
}

h1 a:hover {
    text-decoration: none;
    color: #ddd;
}

h2 a:hover {
    text-decoration: none;
    color: #d88f29;
}

h4 {
    font-weight: bold;
    padding: 10px 0px 3px 0px;
}

.content {
    margin-left: 40px;
}

.date {
    color: #222;
    font-size: 13px;
}

.save {
    float: right;
}

.top-menu .top-menu:hover .top-menu-visited {
    color: #fff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.glyphicon-plus {
    color: #eee;
    font-size: 20pt;
    margin-top: 24px;
    float: right;
}

.glyphicon-plus:hover {
    color:#ddd;
}

.recipe {
    margin-bottom: 70px;
}

body {
    background-color: #eee;
}

.page-header {
    background-color: #ffa221;
    margin-top: 0;
    padding: 20px 20px 20px 50px;
}

#header-lock {
    color: #eee;
}

#header-login {
    color: #eee;
    font-size: 20px;
    font-family: sans-serif;
    float: right;
}

#header-login:hover {
    color: #ddd;
}

.glyphicon-lock {
    margin-top: 28px;
}

#logout-text {
    color: #eee;
    font-family: sans-serif;
        float: right;
}

#logout-text:hover {
    color: #ddd;
}

hr {
    border: solid 2px #ddd;
    margin: 140px 0px 30px 0px;
}

/* INDEX STYLE */

#show-all-button {
    margin-bottom: 80px;
    color: black;
    font-size: 16px;
}

.glyphicon-arrow-right {
    color: #d88f29;
    padding: 3px;
    font-size: 20px;
}

/* DETAIL STYLE */

#edit-button {
    float: left;
    margin: 20px 5px 70px 0px;
}

.glyphicon-pencil {
    margin-left: 5px;
}

/* EDIT STYLE */

.glyphicon-remove {
    margin-left: 5px;
}

.glyphicon-ok {
    margin-left: 5px;
}

.glyphicon-lock.common {
    color: #ffa221;
    margin-left: 5px;
}

.login-anchor {
    color: #ffa221;
    font-size: 20px;
}

.login-anchor:hover {
    color: #d88f29;
    font-size: 20px;
}

/* COMMENT STYLE */

.comment {
    margin: 20px 0px 20px 0px;
}

#no-comment-text {
    margin-bottom: 20px;
}

#add-comment-button {
    margin-bottom: 70px;
}

/* SEARCH STYLE */

.search_form {

}

.search_text {
    padding: 10px;
    width: 100%;
}