{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/book.css' %}">
  <meta charset="UTF-8">
  <title>Kokeboka</title>
</head>
<body>

<style>
  {% block extra_css %}
  {% endblock %}
</style>

<nav class="nav-extended">
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <a href="{% url "book:index" %}" class="brand-logo">KOKEBOKA</a>
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons left">search</i>Søk</a></li>
        <li><a href="#"><i class="material-icons left">folder</i>Kategorier</a></li>
        <li><a href="#"><i class="material-icons left">format_list_bulleted</i>Alle oppskrifter</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url "book:logout" %}">
            <i class="material-icons left">person</i>Logg ut {{ user }}</a></li>
        {% else %}
          <li><a href="{% url "book:login" %}">
            <i class="material-icons left">lock_outline</i>Logg inn</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="nav-content">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
        {% block breadcrumbs %}
        {% endblock %}
      </div>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s12 m10 offset-m1">
    {% block content %}
    {% endblock %}
  </div>
</div>
</body>
</html>
