{% extends 'book/base.html' %}

{% block content %}
{% for recipe in recipes %}
    <div class="recipe">
        <h2><a href="">{{ recipe.title }}</a></h2>
            <div class="date">
                <p>Publisert {{ recipe.published_date }}</p>
            </div>
            <ul>
            {% for ingredient in recipe.ingredients.splitlines %}
                <li>{{ ingredient }}</li>
            {% endfor %}
            </ul>
        <p>{{ recipe.instructions | linebreaks}}</p>
    </div>
{% endfor %}
{% endblock %}
