{% extends 'book/base.html' %}

{% block breadcrumbs %}
  <a href="{% url "book:recipe_list" %}" class="breadcrumb">Alle oppskrifter</a>
  <a class="breadcrumb">Detaljer</a>
{% endblock breadcrumbs %}

{% block content %}

  <h4>{{ recipe.title }}</h4>

  {% if recipe.published_date %}
    <p>Publisert {{ recipe.published_date }}</p>
  {% endif %}

  <h5>Ingredienser</h5>
  <ul>
    {% for ingredient in recipe.ingredients.splitlines %}
      {{ ingredient }}<br>
    {% endfor %}
  </ul>

  <h5>Fremgangsmåte</h5>
  <p>{{ recipe.instructions | linebreaks }}</p>

  Kategorier:
  {% for category in recipe.categories.all %}
    {{ category }}
  {% endfor %}

  {% if user.is_authenticated %}
    Endre Recipe
  {% else %}
    Du må logge inn for å endre Recipe
  {% endif %}


  <hr>

  {% for comment in recipe.comments.all %}
    {{ comment.created_date }}
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
  {% empty %}
    Ingen kommentarer er lagt til enda...
  {% endfor %}<br>

  <a href="{% url 'book:add_comment_to_recipe' pk=recipe.pk %}"
     class="btn btn-default" id="add-comment-button">Legg til kommentar</a>

{% endblock %}