{% extends 'book/base.html' %}
{% load static %}

{% block breadcrumbs %}
  <a href="{% url "book:recipe_list" %}" class="breadcrumb">Alle oppskrifter</a>
  {% if recipe %}
  <a href="{% url "book:recipe_detail" recipe.pk %}" class="breadcrumb">Detaljer</a>
  <a class="breadcrumb">Rediger</a>
  {% else %}
    <a class="breadcrumb">Ny</a>
  {% endif %}
{% endblock breadcrumbs %}

{% block content %}
  {% if recipe %}
    <h2>{{ recipe.title }}</h2>
  {% else %}
    <h2>Ny oppskrift</h2>
  {% endif %}
  <form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input class="btn" type="submit" value="Lagre">
  </form>

  {% if user.is_authenticated and recipe %}
    <a href="{% url 'book:recipe_remove' pk=recipe.pk %}">Slett</a>
  {% elif recipe %}
    <a href="{% url 'book:login' %}">Slett</a>
  {% endif %}

{% endblock %}

{% block footer %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

  {{ form.media }}
{% endblock %}
