{% extends 'book/base.html' %}

{% block content %}
<div class="recipe">

    <h2>{{ recipe.title }}</h2>

    {% if recipe.published_date %}
        <div class="date">
            <p>Publisert {{ recipe.published_date }}</p>
        </div>
    {% endif %}

    <div class="ingredients">
        <h4>Ingredienser</h4>
        <ul>
            {% for ingredient in recipe.ingredients.splitlines %}
                    {% if ingredient != "" %}
                        <li>{{ ingredient }}</li>
                    {% else %}
                        <br>
                    {% endif %}
                {% endfor %}
            </ul>
    </div>

    <h4>Fremgangsmåte</h4>
    <div class="instructions">
        <p>{{ recipe.instructions | linebreaks}}</p>
    </div>

    {% if user.is_authenticated %}
        <a class="btn btn-default" id="edit-button" href="{% url 'recipe_edit' pk=recipe.pk %}">
            Rediger<span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}

</div>
{% endblock %}